@charset "UFT-8";

:root{
--cordeFundo:#140300;
--corPrincipal:#4c0a00;
--corSecundária:#2d1500;
--corTerciaria:#C40F00;}

body{
    background-color: #150907;
    color: white;
}
#din{
    text-align: center;
    font-size: 20px;

}
.cabeça{
color:white;
       font-size: 50px;
        border-bottom:  2px solid white;
        border-style: groove;
        border-width: 10px;
        text-align: center;
}

footer{
    font-size: 30px;
background-color:var(--cordeFundo) ;
color:white;
box-shadow: none;
text-align: center;
}

